<h1>Form Add</h1>

<form action="<?php echo $block->getBaseUrl().'internship/add/save'; ?>" method="post">
    <table style="border: 0">
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" name="name" id="name" title="Name">
            </td>
        </tr>
        <tr>
            <td>
                Avatar:
            </td>
            <td>
                <input name="avatar" id="author" title="Author">
            </td>
        </tr>
        <tr>
            <td>
                Dob:
            </td>
            <td>
                <input type="date" name="dob" id="dob" title="Dob">
            </td>
        </tr>
        <tr>
            <td>
                Desc:
            </td>
            <td>
                <textarea name="description" id="desc" title="Name"></textarea>
                <button class="action primary"
                        type="submit"
                        title="Submit Button">
                    <span>Add</span>
                </button>
            </td>
        </tr>
    </table>
</form>
