<?php

echo '<h1>'.$block->sayHello().'</h1>';

?>
<br>
<button class="action primary"
        data-mage-init='{"redirectUrl": {"event": "click", "url": "http://www.site-magento.org/site1/internship/add"}}'
        type="button"
        title="Redirect Button">
    <span>Form Add</span>
</button>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Avatar</th>
        <th>Dob</th>
        <th>Description</th>
    </tr>
    <?php
    foreach ($block->getInternship() as $key => $internship) {
        echo '<tr>
                   <td>' . $key++ . '</td>
                    <td>' . $internship->getName() . '</td>
                    <td>' . $internship->getAvatar() . '</td>
                    <td>' . $internship->getDob() . '</td>
                    <td>' . $internship->getDescription() . '</td>
                  </tr>';
    }
    ?>
</table>

</body>
</html>
