<?php
    $user = $this->getInternship();
?>
<h1>Form Show</h1>

<form>
    <table style="border: 0">
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" name="name" id="name" title="Name" value="<?php echo $user->getName() ?>">
            </td>
        </tr>
        <tr>
            <td>
                Avatar:
            </td>
            <td>
                <input type="text" name="avatar" id="author" title="Author" value="<?php echo $user->getAvatar() ?>">
            </td>
        </tr>
        <tr>
            <td>
                Dob:
            </td>
            <td>
                <input type="date" name="dob" id="dob" title="Dob" value="<?php echo $user->getDob() ?>">
            </td>
        </tr>
        <tr>
            <td>
                Desc:
            </td>
            <td>
                <textarea name="description" id="desc" title="desc"><?php echo $user->getDescription() ?></textarea>
            </td>
        </tr>
    </table>
</form>
